#opinion{
    font-size: 10pt;
    font-family: "굴림체"; 
}
#opinion table{
    width:100%; 
    border-collapse: collapse; 
    border:1px solid black;
    table-layout: fixed;
    
}

#opinion th{
    background-color:#E8EAED;
    text-align:center;
    height:30px;
    border:1px solid black;
    
}

#opinion td{
    padding:10px;
    word-break: break-word;
}