
@media print {
    input[type="checkbox"] + label {
        display: none;
    }

    input[type="checkbox"][checked="checked"] + label {
        display: inline;
    }
       
}

body{
    font-size: 10pt;
    color: #000000;
    font-family: "굴림체";
   /* font-weight: bold;*/
}
.section{
    margin-bottom:10px;
    padding:5px;
}
.page{
    width: 210mm;
    /*height: 297mm;*/
    position: relative;
    padding: 0;
    overflow: hidden;
    margin-left: 2mm;
    margin-right: 0mm;
    margin-bottom: 2mm;
    margin-top: 0mm;
    border: 0px solid red;
   
}
table{
    border-collapse: collapse;  
}
td{
    border:1px solid black;
    padding:3px;
}
th{
    font-size: 10pt;
}

.title{
    font-size: 20pt;
    padding:10px;
    float: left;
}
.header  {
    float: right;
    
}
.header td{
    border:1px solid black;
}
.header .blank{
    width: 17.24mm;
    height: 15.92mm;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left ;
}
.text-right{
    text-align: right;
}
.no-border{
    border:0px
}
.no-border td{
    border:0px
}

.section2-nurse-left{
    padding:0;
    width:24.3%;
    border-top:0;
    border-left: 0;
    text-align: center;
}
.section2-nurse-check{
    width:9.5%;border-top:0;border-right:0
}
.section2-nurse-perform{
    width:60%;border-top:0;
    padding:5px
}
.b-gray{
    background-color: #E8EAED;
}
#opinionSection{
    border:0px;
    padding:0;
}

.sign-image{
        position: absolute; 
    width: 100px;
    height: 30px;
    margin-left: -50px;
    margin-top: -10px;
    display:none;
}

.page-footer {
    right: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;    
    font-size:small;
}

.blank4{
    display:none;
}